accounts/src/main/resources/application.yml

books/src/main/resources/application.yml

orders/src/main/resources/application.yml

chatbot/src/main/resources/application.yml

shipping/src/main/resources/application.yml

recommend/venv/
recommend/*.pyc
recommend/__pycache__/